@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: none;
}
.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(to right, #ff70a6, #ff9770, #ffd670, #e9ff70);
}
.nav {
  flex-basis: 100px;
}
.content {
  align-self: center;
}
